<div
  class="flex flex-col justify-center items-center bg-[#70AFCE] gap-3 h-full"
>
  <div class="flex flex-col justify-center items-center pt-24 bg-[#70AFCE]">
    <%= form_for(resource, as: resource_name, url:
    registration_path(resource_name), :html => {:class =>'bg-gray-50 p-5
    w-[300px] md:w-[600px] lg:w-[800px] h-[600px] rounded-xl flex flex-col
    justify-center gap-5'}) do |f| %> <%= render "devise/shared/error_messages",
    resource: resource %>
    <h2
      class="mb-3 text-2xl font-bold tracking-tight text-[#3B7B9A] text-center"
    >
      Sign up
    </h2>

    <div class="field">
      <%= f.label :email, class: "text-sm text-[#3B7B9A]" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:
      "w-full h-10 px-3 mb-2 text-base text-gray-700 placeholder-gray-600 border
      rounded-lg focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :name, class: "text-sm text-[#3B7B9A]" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:
      "w-full h-10 px-3 mb-2 text-base text-gray-700 placeholder-gray-600 border
      rounded-lg focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :avatar, class: "text-sm text-[#3B7B9A]" %><br />
      <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar", class:
      "w-full h-10 px-3 pt-1 mb-2 text-base text-gray-700 placeholder-gray-600
      border rounded-lg focus:shadow-outline bg-white" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "text-sm text-[#3B7B9A]" %> <% if
      @minimum_password_length %>
      <em class="text-sm text-[#3B7B9A]"
        >(<%= @minimum_password_length %> characters minimum)</em
      >
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:
      "w-full h-10 px-3 mb-2 text-base text-gray-700 placeholder-gray-600 border
      rounded-lg focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "text-sm text-[#3B7B9A]" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class: "w-full h-10 px-3 mb-2 text-base text-gray-700 placeholder-gray-600
      border rounded-lg focus:shadow-outline" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "w-full h-12 px-6 text-white
      transition-colors duration-150 bg-[#3B7B9A] rounded-full
      focus:shadow-outline hover:bg-gray-800 cursor-pointer" %>
    </div>
    <% end %>
  </div>
  <label class="font-medium text-gray-100">Have an account already?</label>
  <button class="font-extrabold text-gray-100">
    <%= render "devise/shared/links" %>
  </button>
</div>
